body{background-image: url(https://media1.tenor.com/images/d72d536f7e7012a429519745aa8ac63f/tenor.gif?itemid=8906533);}
	
	   h1{color: pink;
	   	text-align: center;
	   }


	   h2{color: lightpink}
       	   p{
		
	   	font-family: timesnewroman;
	   	font-size: 30px;
	   	text-decoration-color: white;
	   	text-decoration:underline;
		   text-decoration-color:yellow;
		   background-color:lightyellow;}